#nd-page .prose h2 > a {
    @apply relative pl-2.5;
}

#nd-page .prose h2 > a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.2em;
    height: 0.85em;
    width: 3px;
    border-radius: 2px;
    background: var(--color-fd-primary);
}

/* #nd-page .prose {
    @apply text-sm;
} */
