{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": ["*.md", "*.mdx"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
