@theme {
    /* Colors */
    --color-color-1: #111111;
    --color-color-2: #ffffff;
    --color-color-3: #004ea2;
    --color-color-4: #797979;
    --color-color-5: #000000;
    --color-color-6: #f1f2f6;
    --color-color-7: #002853;
    --color-color-8: #004084;
    --color-color-9: #e8e8e8;
    --color-color-10: #dddddd;

    /* Spacing */
    --spacing-space-1: 24px;
    --spacing-space-2: 22px;
    --spacing-space-3: 20px;
    --spacing-space-4: 12px;
    --spacing-space-5: 30px;
    --spacing-space-6: 16px;
    --spacing-space-7: 4px;
    --spacing-space-8: 8px;
    --spacing-space-9: 45px;
    --spacing-space-10: 70px;
}
